First step is to download a CSV file containing all the data for the **Insects of Micronesia** iNaturalist project.
This is currently done manually following these steps:
* Export observations | csv
* Under **Choose columns** select all for **Basic, Geo, Taxon extras**
* Press the **Create export** button
* Press the **Receive an email with your data

Update the parameter below.

In [1]:
INSECTS_OF_MICRONESIA_CSV = 'observations-194224.csv'

In [2]:
import pandas as pd
import papermill as pm

In [3]:
# Read a list ofstudents and their iNat user names.

df = pd.read_csv('albi345-2021.csv')
df

                         name inat_user_login
0             Chelsea Taitano        chelstai
1               Risel Uludong        uludongr
2        Touraine E. Williams           uchan
3                Anela Duenas     aneladuenas
4         Audrey Marie Santos    santosa11828
5                  Julia Birn           jbirn
6             Ray Mark Guinto     raympguinto
7   Stephenie Andriana Santos    santoss11532
8               Rachel Mungon       rachelm23
9            Samantha Gilinug    samantha1015
10               Haani Bettis     haanibettis
11              Rita Barcinas    barcinasrita
12             Stewart Johnny        stewjohn
13            Tarsis Maddison       maddisont
14                Eric Delfin        eric1434
15              Daniel Castro         castrod
16            Lawrenz Gaerlon    todayis_renz
17           Kenneth Bigalbal       bigalbalk
18             Joan Fernandez      joanxfrndz
19              Kyle Quiambao    derpyinsight
20                Laura Caser      lauracaser
21             Berncie Lizama         berncie

!jupyter nbextension enable --py widgetsnbextension

In [4]:
for i,r in df.iterrows():
    r = dict(r)
    print(r)
    user = r['inat_user_login']
    user_full_name = r['name']
    try:
        pm.execute_notebook('inat_labels1.ipynb',
                            f'output/{user_full_name.replace(" ", "_")}.ipynb',
                            parameters={
                                'INSECTS_OF_MICRONESIA_CSV':INSECTS_OF_MICRONESIA_CSV,
                                'USER':user, 
                                'USER_FULL_NAME': user_full_name,
                                'PRINT': 'TRUE'})
    except:
        continue

{'name': 'Chelsea Taitano', 'inat_user_login': 'chelstai'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Risel Uludong', 'inat_user_login': 'uludongr'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Touraine E. Williams', 'inat_user_login': 'uchan'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Anela Duenas', 'inat_user_login': 'aneladuenas'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Audrey Marie Santos', 'inat_user_login': 'santosa11828'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Julia Birn', 'inat_user_login': 'jbirn'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Ray Mark Guinto', 'inat_user_login': 'raympguinto'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Stephenie Andriana Santos', 'inat_user_login': 'santoss11532'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Rachel Mungon', 'inat_user_login': 'rachelm23'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Samantha Gilinug', 'inat_user_login': 'samantha1015'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Haani Bettis', 'inat_user_login': 'haanibettis'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Rita Barcinas', 'inat_user_login': 'barcinasrita'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Stewart Johnny', 'inat_user_login': 'stewjohn'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Tarsis Maddison', 'inat_user_login': 'maddisont'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Eric Delfin', 'inat_user_login': 'eric1434'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Daniel Castro', 'inat_user_login': 'castrod'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Lawrenz Gaerlon', 'inat_user_login': 'todayis_renz'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Kenneth Bigalbal', 'inat_user_login': 'bigalbalk'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Joan Fernandez', 'inat_user_login': 'joanxfrndz'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Kyle Quiambao', 'inat_user_login': 'derpyinsight'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Laura Caser', 'inat_user_login': 'lauracaser'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

{'name': 'Berncie Lizama', 'inat_user_login': 'berncie'}

Executing:   0%|          | 0/8 [00:00<?, ?cell/s]

In [5]:
df = pd.read_csv('albi345-2021.csv')
df_data = pd.read_csv(INSECTS_OF_MICRONESIA_CSV)

for i, r in df.iterrows():
    print(f"{r['name']}   ({r.inat_user_login})   {sum(df_data.user_login==r.inat_user_login)}")

Chelsea Taitano   (chelstai)   15
Risel Uludong   (uludongr)   15
Touraine E. Williams   (uchan)   42
Anela Duenas   (aneladuenas)   6
Audrey Marie Santos   (santosa11828)   9
Julia Birn   (jbirn)   32
Ray Mark Guinto   (raympguinto)   24
Stephenie Andriana Santos   (santoss11532)   20
Rachel Mungon   (rachelm23)   0
Samantha Gilinug   (samantha1015)   0
Haani Bettis   (haanibettis)   6
Rita Barcinas   (barcinasrita)   1
Stewart Johnny   (stewjohn)   14
Tarsis Maddison   (maddisont)   0
Eric Delfin   (eric1434)   3
Daniel Castro   (castrod)   9
Lawrenz Gaerlon   (todayis_renz)   9
Kenneth Bigalbal   (bigalbalk)   10
Joan Fernandez   (joanxfrndz)   9
Kyle Quiambao   (derpyinsight)   26
Laura Caser   (lauracaser)   88
Berncie Lizama   (berncie)   5

In [6]:
df_data.groupby('user_login').id.count()

user_login
addieferguson     3
agusdwijaya       1
ajilai           27
aneladuenas       6
anmataro         15
                 ..
umijin            3
vanhalen_671     32
wsantos671       18
zash              1
ziabc             5
Name: id, Length: 147, dtype: int64